/* ======================================================================== */

/*                      NOT RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */

@import url("https://loading.io/background/m-trianglify/");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}


:root {
	--step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
	--step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
	--step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
	--step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
	--step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
	--step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
	--step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
	--step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);

	/* Font style */

	--ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

	/* Color style */

	--color-primary: #0575E6;
	--color-secondary: #6dd5ed;
	--color-primary-light: #8dc6ff;
	--color-primary-dark: #021B79;
	--color-error: #cc3333;
	--color-success: #4bb544;
	--color-link: #606470;
	--color-text: #5f6769;
	--color-header-dark: #393e46;
	--color-background: #f5f9ee;
	--color-border-sc: #ececec;
	--color-border-focus: #69c2ff;
	--color-border: #d3d6db;
	--bs: #ffa857;
	--color-button: #f8e7e7;
	--color-percentage: #5f6769;
	--color-header-light: #9ba6a5;
	--color-border-focus: #a9d7f6;
	--color-input-background: #f5f9ee;
	--gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));


}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
	list-style: none;
}


/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html,
body {
	height: 100%;
}



/* ======================================================================== */

/*                      RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */





body {
	display: grid;
	place-items: center;
	background-color: #c1e669;
	/*background-image: url(images/Trianglify-5.3s-1536px.svg);*/
	background-image: url("https://loading.io/asset/617991");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 2rem;
	animation: move 2s infinite alternate linear;
}

@keyframes move {
	100% {
		background-position: 15% 50%;
	}
}

@media (width >=500px) {
	body {
		padding: 0;
	}
}

.login_form {
	position: fixed;
	width: 100%;
	background: #c5c5c5;
	text-align: center;
	border-radius: 1.2rem;
	padding: 4rem 2rem 1rem;
	z-index: 3;
}

@media (width >=450px) {
	.login_form {
		width: min(100%, 430px);
	}
}

@media (width >=700px) {
	.login_form {
		top: 0;
		right: 0;
		left: auto;
		height: 100%;
		border-radius: 0;
		padding-top: 90px;
	}
}

@media (width >=1200px) {
	.login_form {
		width: 25%;
	}
}

.login_form>img {
	width: 100px;
	-webkit-aspect-ratio: 1/1;
	object-fit: cover;
	border: .4px solid #6fa957;
	border-radius: 50%;
	margin: auto;
}

.login_form>h2 {
	font-size: var(--step-1);
	font-weight: 700;
	margin: 0 0 0.5rem;
}

.login_form>h3 {
	color: rgb(0 0 0 / 38%);
	font-size: var(--step--1);
	font-weight: 500;
	margin: 1.8rem 0 .5rem;
}

form {
	display: grid;
	place-items: center;
	width: 100%;
	grid-gap: 1.8rem;
	margin: 0;
}

:is(form > input, form > button) {
	height: 56px;
	border: 0;
	outline: 0;
	font-family: inherit;
}

form>input {
	width: 90%;
	border-bottom: 2px solid rgba(0, 0, 0, .1);
	font-size: var(--step--2);
	text-align: center;
}

form>button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #f9f9f9;
	background: #347848;
	font-size: var(--step--1);
	font-weight: 600;
	border-radius: .4rem;
	padding: 0 1.2rem;
	letter-spacing: 2px;
	transition: all .1s ease;
	cursor: pointer;
}

form>button:hover:valid {
	background: #6fa957;
}

form a {
	width: 100%;
	color: #8d4fff;
	text-align: left;
}
a img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 0px solid #021B79
}
a img{
	display: block;
	margin: auto;
}


button {
    
    width: 150px;
    height: 40px;
    padding: -1px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:  #000000;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    
}
